<ion-footer >
  <ion-toolbar >
    <ion-grid class="footer-grid">
      <ion-row>
        <ion-col>
          <a href="/activities">
            <ion-icon name="hourglass-outline" class="footer-icon-button"></ion-icon> 
           </a>
        </ion-col>
        <ion-col>
          <a href="/home">
            <ion-icon name="home-outline" class="footer-icon-button"></ion-icon>
          </a>
        </ion-col>
        <ion-col>
          <a href="/login">
            <ion-icon name="person-outline" class="footer-icon-button"></ion-icon> 
           </a>
        </ion-col>
      </ion-row>
    </ion-grid> 
 </ion-toolbar>
</ion-footer>
