#logout-icon{
   right: 5%;
    
}

.header-font-username, .header-font-credit, .header-font-icon{
    display: inline;
    margin-left: 10%;
    position: absolute;
   
    font-size: 1.2em;
}

#credit{
    right: 30%;
}