<ion-header [translucent]="true" >
  <ion-toolbar>
    <a href="/home">
      <img src="assets/a1logo.png" alt="A1-Logo" class="logo">
    </a>
    <ion-title></ion-title>
    <ion-label class="header-font-username" id="username">Alen Arnautovic</ion-label>
    <ion-label class="header-font-credit" id="credit">25.00€</ion-label>
      <br>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>1 vs. 1 Overview </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <a href="/ho-t">Head or Tail</a>
    </ion-card-content>
  </ion-card>

  
</ion-content>

<ion-footer >
  <ion-toolbar >
       <a href="/activities">
         <img src="assets/wette.jpg" alt="$" class="footer-left-button">
       </a>
       <a href="/home">
         <img src="assets/home.png" alt="Home" class="footer-center-button">
       </a>
       <a href="/login">
         <img src="assets/konto.png" alt="Konto" class="footer-right-button">
       </a>
 </ion-toolbar>
</ion-footer>