<app-header>

</app-header>


<ion-content>
  <ion-card href="/ho-t">
    <ion-card-header>
      <ion-card-title >Head or Tail </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/ho-t">
    <ion-card-header>
      <ion-card-title >Dicing </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/ho-t">
    <ion-card-header>
      <ion-card-title >Even or Uneven  </ion-card-title>
    </ion-card-header>
  </ion-card>

  
</ion-content>


<app-footer>

</app-footer>