#dropdown{
    margin-top: 10%;
}

.input{
    width: 70%;
    margin: 2% 15%;
    
}
#coin{
    border-radius: 100%;
}

#ergebnis{
    text-align: center;
    font-size: 2em;
    margin: 15% 0;
}

ion-col{
    border: 1px solid gray;
    text-align: center;
}




