<app-header>
  
</app-header>


<ion-content>
  
  <ion-item id="dropdown" class="input">
    <ion-label>Select an option:</ion-label>
    <ion-select value="coin" interface="popover" [(ngModel)]="selectedVal" (ionChange)="OnChange($event)" >
      <ion-select-option *ngFor="let item of data" [value] = "item.name"> {{item.name}} </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="input"> 
    <ion-label fixed>Bet: </ion-label>
    <ion-input type="number" step=0.1 [(ngModel)]="inputBet" placeholder="in €" id="bet"></ion-input>  
  </ion-item>
      
  <ion-button (click)="CallThrowCoin()" color="success" expand="block">Play</ion-button>
  <ion-button (click)="reset()" color="warning" expand="block">Reset stats</ion-button>

 <ion-item >
    <ion-label class="announcment" id="ergebnis">
      ...
    </ion-label>
  </ion-item>   
     
  <ion-grid>
    <ion-row>
      <ion-col >
        <p id="wins">Won: </p>
      </ion-col>
      <ion-col>
        <p id="loses">Lost: </p>
      </ion-col>
    </ion-row>
  </ion-grid> 
   
</ion-content>




<app-footer>

</app-footer>


