#dropdown{
    margin-top: 10%;
}

.input{
    width: 70%;
    margin: 2% 15%;
    
}
#coin{
    border-radius: 100%;
}
#report{
    margin: 15% 0 0 15%;
}
#ergebnis{
    text-align: center;
    font-size: 2em;
   
}
#ButtonPlay{
    width: 70%;
    margin-right: 7%;
   
}
#ButtonContainer{
    margin: 10% 15%;
}
ion-col{
    border: 1px solid gray;
    text-align: center;
}
.result{ 
    width: 27%; 
    margin: 10% 3%;
    //border: 1px solid gray;
}
#wins{
    position: relative;
    left: 5%;
}
#loses{
    position: absolute;
    right: 5%;
}

img{
    margin: 5% 28%;
    border-radius: 100%;
}
#coinSideHead, #coinSideTail{
    display: none;
}





