<app-header>
  
</app-header>


<ion-content>

  <ion-button class="result" id="wins" color="success" > </ion-button>
  <ion-button class="result" id="loses" color="danger"></ion-button>
  
  <ion-item id="dropdown" class="input">
    <ion-label>Select an option:</ion-label>
    <ion-select value="coin" interface="popover" [(ngModel)]="selectedVal" (ionChange)="OnChange($event)" >
      <ion-select-option *ngFor="let item of data" [value] = "item.name"> {{item.name}} </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="input"> 
    <ion-label fixed>Bet: </ion-label>
    <ion-input type="number" step=0.1 [(ngModel)]="inputBet" placeholder="in €" id="bet"></ion-input>  
  </ion-item>
      
  <div id="ButtonContainer">
    <ion-button (click)="CallThrowCoin()" color="success" id="ButtonPlay">Play</ion-button>
    <ion-button (click)="reset()" color="warning" id="ButtonRefresh" > 
    <ion-icon name="refresh-outline"></ion-icon>
    </ion-button>
  </div>
    
 <div id="report">
  <ion-label class="announcment" id="ergebnis">  ...  </ion-label>
 </div>
 
    
  <img src="./assets/kopf.png" alt="Kopf" >
    
  
   
</ion-content>




<app-footer>

</app-footer>


