<app-header>


</app-header>
  
  <ion-content [fullscreen]="true">
    <ion-card href="/games-for2">
      <ion-card-header>
        <img src="assets/1vs1.jpg" alt="1 vs. 1">
      </ion-card-header>
    </ion-card>

    <ion-card href="games-for4">
      <ion-card-header>
        <ion-card-title>Games 4 Player </ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card href="games-for-individuals">
      <ion-card-header>
        <ion-card-title>Individual Games</ion-card-title>
      </ion-card-header>
    </ion-card>
  

    
     
  
    
    <ion-card href="/activities">
      <ion-card-header >
        <ion-card-title>last activities</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Here you can see your last 5 bets</ion-label>
        <ion-label>Here you can see your last 5 bets</ion-label>
        <ion-label>Here you can see your last 5 bets</ion-label>
        <ion-label>Here you can see your last 5 bets</ion-label>
        <ion-label>Here you can see your last 5 bets</ion-label>
      </ion-card-content>
    </ion-card>

    
    <ion-card>
      <ion-card-header>
        <ion-card-title>All Users</ion-card-title>
      </ion-card-header>
      <ion-card-content>
  
          <ion-list>
            <ion-item button *ngFor="let user of users">
               
                   <h2>{{ user.firstname }} {{ user.lastname  }}</h2>
                   
              
            </ion-item>
            </ion-list>
     
      
      </ion-card-content>
    </ion-card>
     
    
   

  </ion-content>

  

  <app-footer>

    
  </app-footer>
 


