<app-header>

</app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
     
      <ion-card-title>Registration</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input name="surname" placeholder="surname"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input name="prename" placeholder="prename"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input name="email" placeholder="email"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input name="username" placeholder="username"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input name="password" placeholder="password" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input name="confirm_password" placeholder="confirm password" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button class="signup" (click)="signMeUp()">Sign Up</ion-button>
      <br>
      Already have an account? <a href="/login" >Sign in</a>
      
    </ion-card-content>
  </ion-card>
</ion-content>


<app-footer>

</app-footer>