<ion-content class="background">
  
  <div id="register-container">
    <ion-input class="register" type="text" [(ngModel)]="firstname" placeholder="surname"></ion-input>
    <ion-input class="register" type="text" [(ngModel)]="lastname" placeholder="prename"></ion-input>
    <ion-input class="register" type="text" [(ngModel)]="email" placeholder="email"></ion-input>
    <ion-input class="register" type="text" [(ngModel)]="username" placeholder="username"></ion-input>
    <ion-input class="register" type="password" [(ngModel)]="password" placeholder="password" type="password"></ion-input>
    <ion-input class="register" type="password" [(ngModel)]="confirm_password" placeholder="confirm password" type="password"></ion-input>
  </div>
  
  <ion-button expand="block" color="green" id="register-b" (click)="registration()">Register</ion-button>
  <br>
  <p>Already have an account? <a href="/start" >Login</a></p> 
 
</ion-content>

