<ion-header [translucent]="true" >
  <ion-toolbar>
    <a href="/home">
      <img src="assets/a1logo.png" alt="A1-Logo" class="logo">
    </a>
    <ion-title></ion-title>
    <ion-label class="header-font-username" id="username">Alen Arnautovic</ion-label>
    <ion-label class="header-font-credit" id="credit">25.00€</ion-label>
     <br>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
     
      <ion-card-title>Fill in for registration</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input  [(ngModel)]="surname" placeholder="surname"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input  [(ngModel)]="prename" placeholder="prename"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input  [(ngModel)]="email" placeholder="email"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input  [(ngModel)]="username" placeholder="username"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input   [(ngModel)]="password" placeholder="password" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input  [(ngModel)]="confirm_password" placeholder="confirm password" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button class="signup" (click)="signMeUp()">Sign Up</ion-button>
      Already have an account? <a href="/login" >Sign in</a>
      
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer  [translucent]="true">
  <ion-toolbar >
       <a href="/activities">
         <img src="assets/wette.jpg" alt="$" class="footer-left-button">
       </a>
       <a href="/home">
         <img src="assets/home.png" alt="Home" class="footer-center-button">
       </a>
       <a href="/login">
         <img src="assets/konto.png" alt="Konto" class="footer-right-button">
       </a>
 </ion-toolbar>
</ion-footer>

